@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap");
.theme-light {
  --bg-primary: #bed9e5;
  --bg-secondary: rgb(245, 208, 234);
  --txt-primary: rgb(17, 14, 14);
  --txt-secondary: rgb(54, 11, 18);
}

.theme-dark {
  --bg-primary: #06292E;
  --bg-secondary: #0B4047;
  --color-accent: #12cdea;
  --txt-primary: #ffffff;
  --txt-secondary: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1 rem;
  color: var(--txt-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (orientation: portrait) {
  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .titlebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: .8rem 0 .8rem .5rem;
  }
  #switch-container {
    left: 80%;
  }
}

@media screen and (orientation: landscape) {
  .page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page .titlebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: .5rem .8rem 0 .8rem;
  }
  .page .titlebar .title {
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#home > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#home .whoami {
  background-color: var(--bg-primary);
}

#home .whoami .identity {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 2em;
  height: 100%;
}

#home .whoami .identity .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  #home .whoami .identity .wrapper .item {
    color: var(--bg-primary);
    text-shadow: 0 1px 2px var(--bg-secondary), 0 0 1.4rem #76878e, 0 0 0.1em #556166;
  }
}

@media screen and (orientation: landscape) {
  #home .whoami .identity .wrapper .item {
    color: var(--bg-primary);
    text-shadow: 1px 0px 2px var(--bg-secondary), 0 0 1.4rem #76878e, 0 0 0.1em #556166;
  }
}

#home .whoami .identity .wrapper .item .first {
  font-size: 1em;
}

#home .whoami .identity .wrapper .item .last {
  font-size: 1.18em;
}

#home .whoami .identity .wrapper .item .job {
  font-size: 1.28em;
}

#home .whoami .profile {
  display: none;
  height: 100%;
  width: 100%;
}

#home .whoami .profile .wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .whoami .profile .wrapper .photo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #12cdea;
}

#home .whoami .profile .wrapper .coordonates {
  text-align: left;
}

#home .whoami .profile .wrapper .pitch {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.5rem;
  padding: 1em;
  text-align: justify;
}

#home nav {
  background-color: var(--bg-secondary);
  color: var(--txt-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

#home nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  gap: .1em;
}

#home nav ul li a {
  display: block;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}

/****  PAGES : TITLEBAR **************************************************************************/
header.titlebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 1.6em;
  background-color: var(--bg-secondary);
  color: var(--txt-primary);
}

header.titlebar .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/****  PAGES : CONTENT ******************************************************/
.page .content {
  background-color: var(--bg-primary);
  color: var(--txt-secondary);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/****  DARK MODE ***********************************************************/
#switch-container {
  position: absolute;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 0;
  padding: 0;
}

#switch-container .switch {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  width: 50px;
  height: 26px;
  background-color: gray;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#switch-container .switch .ball {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

#switch-container .switch .ball.darkMode {
  -webkit-transform: translatex(24px);
          transform: translatex(24px);
}

#switch-container .switch .fa-moon, .fa-sun {
  color: #f1c40f;
}

#competences .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#competences .content .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 90%;
}

#competences .content .logos .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: landscape) {
  #competences .content .logos .group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

#competences .content .logos .group .item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}

#competences .content .logos .group .item img {
  height: 64px;
}

@media screen and (min-width: 992px) {
  #competences .content .logos .group .item img {
    height: 128px;
  }
}
/*# sourceMappingURL=main.css.map */