@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap');

// variables for dark and light theme
.theme-light {
    --bg-primary: #bed9e5;
    --bg-secondary: rgb(245, 208, 234);
    --txt-primary: rgb(17, 14, 14);
    --txt-secondary: rgb(54, 11, 18);
}

.theme-dark {
    --bg-primary: #06292E;
    --bg-secondary: #0B4047;
    --color-accent: #12cdea;
    --txt-primary: #ffffff;
    --txt-secondary: white;
 }


// Globals
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1 rem;
    color: var(--txt-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

// handle screen rotation on mobile
// each page is divided in 2 parts
// in portrait mode on on another
// in landscape mode side by side
@media screen and (orientation:portrait) {
    // items are side by side
    .page {
        flex-direction: column;
    }
    // arrow is on the left and title on the right
    .page .titlebar {
        flex-direction: row-reverse;
        padding: .8rem 0 .8rem .5rem;
    }
    // move dark/light mode switch
    #switch-container {
        // display: none;
        left: 80%
    }
} @media screen and (orientation:landscape) {
    // items are one above the other
    .page {
        flex-direction: row;
    }
    // arrow is on top and title is below 
    .page .titlebar {
        flex-direction: column-reverse;
        padding: .5rem .8rem 0 .8rem;
    }
    // title is written from bottom to top
    .page .titlebar .title {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
    }
}

// each page
.page {
    width: 100%;
    // min-height: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1; 
}

// HOME PAGE : one half is about me, the other is nav

#home  {
  > * {
    flex-basis: 50%;
  }

  .whoami {
    background-color: var(--bg-primary);
    .identity {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 900;
      font-size: 2em;
      height: 100%;
      .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        // a line of text : first, last, job
        .item {
          @media screen and (orientation:portrait) {
            color: var(--bg-primary);
            text-shadow: 0 1px 2px var(--bg-secondary), 0 0 1.4rem #76878e, 0 0 .1em #556166;
          }
          @media screen and (orientation:landscape) {
            color: var(--bg-primary);
            text-shadow: 1px 0px 2px var(--bg-secondary), 0 0 1.4rem #76878e, 0 0 .1em #556166;
          }
          // firstname
          .first {
            font-size: 1em;
          }
          // last name 
          .last {
            font-size: 1.18em;
          }
          .job {
            font-size: 1.28em;
          }
        }
      }
    }
  
    .profile {
      display: none;
      height: 100%;
      width: 100%;
      .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // width: 100%;
        justify-content: flex-end;
        .photo {
          // in landscape mode, coordonates takes more than 60% of the screen
          // so we keep this under 40%
          flex-basis: 30%;
          flex-grow: 1;
          background-color: #12cdea;
        }
        .coordonates {
          text-align: left;
        }
        .pitch {
          flex-basis: 100%;
          font-size: 1.5rem;
          padding: 1em;
          text-align: justify;
        }
      }
    }
  }

  nav {
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      flex-basis: 100%;
      gap: .1em;

      li a {
        display: block;
        padding: 1em 0;
        text-align: center;
        width: 100%;
        text-transform: capitalize;
      }
    }
  }
}


/****  PAGES : TITLEBAR **************************************************************************/

// Each main content page e.g. 'compétences', 'profil'... has a bar on top or left depending
// on the page orientation with a title and a link to homepage
// see media query above for back-link 
header.titlebar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.6em;
    background-color: var(--bg-secondary);
    color: var(--txt-primary);
}

header.titlebar .title {
    flex-grow: 1;   
}

/****  PAGES : CONTENT ******************************************************/

.page .content {
    background-color: var(--bg-primary);
    color: var(--txt-secondary);
    flex-grow: 1;
}

/****  DARK MODE ***********************************************************/

#switch-container {
    position: absolute;
    bottom: 1em;
    left:50%;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 0;
}
      
#switch-container .switch {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    width: 50px;
    height:26px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // transform: scale(1.5);
}

#switch-container .switch .ball {
    width: 22px;
    height: 22px;
    background-color: #606060;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    position: absolute;
    transition: transform 0.2s linear;
}

#switch-container .switch .ball.darkMode {
    transform: translatex(24px);
}

#switch-container .switch .fa-moon, .fa-sun {
    color: #f1c40f;
}    


// hard skills page
#competences {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .logos {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      height: 90%;
      // border: 1px solid red;
      .group {
        display: flex;
        flex-wrap: wrap;
        justify-content : space-between;
        // border: 1px solid green;
        @media screen and (orientation:landscape) {
          flex-direction:column;
          height: 100%;
        }
        .item {
          // border: 1px solid green;
          flex-grow: 0;
          flex-shrink: 0;
          text-align: center;;
          img {
            height: 64px;
            @media screen and (min-width: 992px) {
              height: 128px;
            }
          }
        }
      }
    }
  }
}