@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap');

// variables for dark and light theme
.theme-light {
    --bg-primary: #bed9e5;
    --bg-secondary: rgb(245, 208, 234);
    --txt-primary: rgb(17, 14, 14);
    --txt-secondary: rgb(54, 11, 18);
}

.theme-dark {
  $bg-secondary: orange;
    --bg-primary: #06292E;
    --bg-secondary: #0B4047;
    --color-accent: #12cdea;
    --txt-primary: #ffffff;
    --txt-secondary: white;
 }


// Globals
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: var(--txt-primary);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

// style for all pages
.page {
    // 2 éléments side by side in landscape mode and one on another in protrait mode
    flex-direction: row;
    @media screen and (orientation:portrait) {
      flex-direction: column;
    }
  
    // width: 100%;
    // min-height: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;

    header.titlebar {
      display: flex;
      flex-direction: column-reverse;
      padding: .5rem .8rem 0 .8rem;
      @media screen and (orientation: portrait) {
        flex-direction: row-reverse;
        padding: .8rem 0 .8rem .5rem;
      }
      justify-content: space-between;
      text-align: center;
      font-size: 1.6em;
      background-color: var(--bg-secondary);
      color: var(--txt-primary);

      .title {
        flex-grow: 1;
        text-transform: capitalize;
        @media screen and (orientation: landscape) {
          writing-mode: tb-rl;
          transform: rotate(-180deg);
        }
      }
    }

    .content {
      background-color: var(--bg-primary);
      color: var(--txt-secondary);
      flex-grow: 1;
    }
}


// home page
#home  {
  > * {
    flex-basis: 50%;
  }
  // home page : one side with identity and profile
  .whoami {
    background-color: var(--bg-primary);
    .identity {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 900;
      font-size: 2rem;
      height: 100%;
      .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        // a line of text : first, last, job
        .item {
          @media screen and (orientation:portrait) {
            color: var(--bg-primary);
            text-shadow: 0 1px 2px var(--bg-secondary), 0 0 1.4rem #76878e, 0 0 .1em #556166;
          }
          @media screen and (orientation:landscape) {
            color: var(--bg-primary);
            text-shadow: 1px 0px 2px var(--bg-secondary), 0 0 1.4rem #76878e, 0 0 .1em #556166;
          }
          // firstname
          &.first {
            font-size: 1em;
          }
          // last name 
          &.last {
            font-size: 1.18em;
          }
          &.job {
            font-size: 1.28em;
          }
        }
      }
    }
  
    .profile {
      display: none;
      height: 100%;
      width: 100%;
      .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // width: 100%;
        // justify-content: flex-end;
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid red;
          flex-grow: 1;
          flex-basis: 40%;
          background: url('assets/images/moi-top.png');
          img {
            height: 128px;
            @media screen and (min-width: 992px) {
              height: 256px;
            }
          }
        }
        .coordonates {
          display: flex;
          flex-basis: 50%;
          flex-grow: 1;
          justify-content: center;
          align-items: center;
          
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
          }
        }
        .pitch {
          // border: 1px solid red;
          font-size: .8rem;
          padding: 1em;
          text-align: justify;
          @media screen and (min-width: 810px) {
            width: 70%;
            margin: 0 auto;
          }
          @media screen and (min-width: 992px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  // home page : one side with site navigation
  nav {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3em;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      flex-basis: 100%;
      gap: .1em;

      li a {
        display: block;
        padding: .58em 0;
        text-align: center;
        width: 100%;
        text-transform: capitalize;
      }
    }
  }
}

#switch-container {
    position: absolute;
    bottom: 1em;
    left:50%;
    @media screen and (orientation:portrait) {
      left: 80%;
    }
    transform: translate(-50%, 0);
    margin: 0;
    padding: 0;

    .switch {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    
        width: 50px;
        height:26px;
        background-color: gray;
        border-radius: 30px;
        padding: 5px;
        cursor: pointer;
    
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .ball {
            width: 22px;
            height: 22px;
            background-color: #606060;
            border-radius: 50%;
            top: 2px;
            left: 2px;
            position: absolute;
            transition: transform 0.2s linear;

            &.darkMode {
              transform: translatex(24px);
            }
        }


        .fa-moon, .fa-sun {
          color: #f1c40f;
        }
    }
}


// hard skills page
#competences {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .logos {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      height: 90%;
      // border: 1px solid red;
      .group {
        display: flex;
        flex-wrap: wrap;
        justify-content : space-between;
        // border: 1px solid green;
        @media screen and (orientation:landscape) {
          flex-direction:column;
          height: 100%;
        }
        .item {
          // border: 1px solid green;
          flex-grow: 0;
          flex-shrink: 0;
          text-align: center;;
          img {
            height: 64px;
            @media screen and (min-width: 992px) {
              height: 128px;
            }
          }
        }
      }
    }
  }
}

// formations page
#formations {

  .content {
    @media screen and (orientation: landscape) {
      padding: 0 10%;
    }
    @media screen and (orientation: portrait) and (min-width: 800px) {
      padding: 0 10%;
    }

    // wrapper so we can resize content
    .wrapper {
      display: flex;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-around;

      .item {
        display: flex;
        flex-wrap: wrap;
        $lineHeight: 1.8rem;
        padding: 0 5px;

        .when {
          line-height: $lineHeight;
          font-size: 1.2rem;
          font-weight: 900;
          @media screen and (orientation: landscape){
           padding-right: 20px; // put some space after date to separate with 'what' in landscape
          }
        }

        .where {
          line-height: $lineHeight;
          text-align: right;
          flex-grow: 1;
        }

        .what {
          line-height: $lineHeight;
          font-size: 1rem;
          font-weight: 900;
          order: 1;
          @media screen and (orientation: landscape) {
            order: 0;
          }
          @media screen and (orientation: portrait) {
            width: 100%;
          }
        }

        .description {
          flex-basis: 100%;
          order: 2;
          padding: .3rem 0 .3rem 1rem;
          margin-left: 1rem;
          font-size: .9rem;
          border-left: .3rem solid white;
        }
      }
    }
  }
}

// experience page
#experience {

  .content {
    @media screen and (orientation: landscape) {
      padding: 0 10%;
    }
    @media screen and (orientation: portrait) and (min-width: 800px) {
      padding: 0 10%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      @media screen and (orientation: portrait) and (min-heiht: 810px) {
        justify-content: center;
        gap: 2rem;
      }
      
      .item {
        display: flex;
        flex-wrap: wrap;
        $lineHeight: 1.8rem;
        padding: 0 5px;

        .when {
          line-height: $lineHeight;
          font-size: 1.2rem;
          font-weight: 900;
          @media screen and (orientation: landscape){
           padding-right: 20px; // put some space after date to separate with 'what' in landscape
          }
        }
        
        .where {
          line-height: $lineHeight;
          text-align: right;
          flex-grow: 1;
        }
        
        .what {
          line-height: $lineHeight;
          font-size: 1rem;
          font-weight: 900;
          width: 100%;
        }

        .description {
          flex-basis: 100%;
          padding: .3rem 0 .3rem 1rem;
          margin-left: 1rem;
          font-size: .9rem;
          border-left: .3rem solid white;
        }
      }
    }
  }
}